## [PT] Filtro para analisar a abertura de determinado ativo quando cai menos de -10%, o estudo foi realizado com o ativo PETR4

In [2]:
!pip install pandas numpy
!pip install datetime
!pip install matplotlib
!pip install yfinance
!pip install quandl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting datetime
  Downloading DateTime-4.4-py2.py3-none-any.whl (51 kB)
     |████████████████████████████████| 51 kB 519 kB/s
Collecting zope.interface
  Downloading zope.interface-5.4.0-cp37-cp37m-manylinux2010_x86_64.whl (251 kB)
     |████████████████████████████████| 251 kB 26.7 MB/s
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from datetime) (2022.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from zope.interface->datetime) (57.4.0)
Installing collected packages: zope.interface, datetime
Successfully installed datetime-4.4 zope.interface-5.4.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.9.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 16.1 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 2.0 MB/s
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.5.18.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.9.0 requests-2.27.1 yfinance-0.1.70
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting quandl
  Downloading Quandl-3.7.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from quandl) (2.8.2)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.7/dist-packages (from quandl) (8.13.0)
Collecting inflection>=0.3.1
  Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from quandl) (2.27.1)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.21.6)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.14->quandl) (2022.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2022.5.18.1)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.1 quandl-3.7.0

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

[PT] Definindo a data de analise

In [4]:
inicio = '2015-01-01'
fim = ''

[PT] Realizando o download do arquivo

In [5]:
petr = yf.download('PETR4.SA', start=inicio, end_date=fim, interval='1d')

[*********************100%***********************]  1 of 1 completed

In [6]:
petr.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2022-05-30  30.840000  30.870001  29.120001  29.990000  29.990000  98110100
2022-05-31  30.410000  30.620001  29.809999  30.059999  30.059999  83598000
2022-06-01  29.900000  30.330000  29.850000  30.020000  30.020000  46353200
2022-06-02  29.969999  30.049999  29.549999  29.760000  29.760000  50738300
2022-06-03  29.709999  30.440001  29.530001  30.280001  30.280001  60200400

[PT] Obtendo o fechamento em porcentagem e criando uma coluna de abertura do dia seguinte em porcentagem

In [7]:
petr['Fechamento em %']= petr['Close'].pct_change()*100

In [8]:
petr['Abertura do dia seguinte %'] = ((petr['Open'].shift(-1)-petr['Close'])/petr['Close'])*100

In [9]:
petr

,Open,High,Low,Close,Adj Close,Volume,Fechamento em %,Abertura do dia seguinte %
Date,,,,,,,,
2015-01-02,9.990000,9.990000,9.350000,9.360000,5.789165,49559500,NaN,-2.350420
2015-01-05,9.140000,9.190000,8.530000,8.560000,5.294366,78385100,-8.547001,1.752332
2015-01-06,8.710000,8.830000,8.040000,8.280000,5.121186,84723300,-3.271036,3.381651
2015-01-07,8.560000,8.730000,8.360000,8.670000,5.362401,85531000,4.710149,1.384082
2015-01-08,8.790000,9.390000,8.740000,9.230000,5.708761,83306300,6.459048,-0.325024
...,...,...,...,...,...,...,...,...
2022-05-30,30.840000,30.870001,29.120001,29.990000,29.990000,98110100,-1.993466,1.400467
2022-05-31,30.410000,30.620001,29.809999,30.059999,30.059999,83598000,0.233410,-0.532268
2022-06-01,29.900000,30.330000,29.850000,30.020000,30.020000,46353200,-0.133064,-0.166559
2022-06-02,29.969999,30.049999,29.549999,29.760000,29.760000,50738300,-0.866090,-0.168015
2022-06-03,29.709999,30.440001,29.530001,30.280001,30.280001,60200400,1.747313,NaN

[PT] Criando o filtro de analise de cotações

In [10]:
f = -10
filtro = petr.loc[petr['Fechamento em %']<=(f)]

[PT] Excluindo algumas colunas para facilitar a visualização

In [11]:
filtro.drop(['High'], axis=1, inplace=True)
filtro.drop(['Low'], axis=1, inplace=True)
filtro.drop(['Volume'], axis=1, inplace=True)
filtro.drop(['Adj Close'], axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [12]:
filtro

                 Open      Close  Fechamento em %  Abertura do dia seguinte %
Date
2015-01-28   9.430000   9.110000       -10.157797                   -0.658611
2016-03-15   6.830000   6.610000       -10.675675                   -1.512858
2017-05-18  12.450000  13.150000       -15.759129                    4.562741
2018-05-24  20.049999  20.080000       -13.708640                    2.838644
2018-05-28  19.200001  16.910000       -14.595957                    6.445891
2018-06-01  19.559999  16.160000       -14.857744                    6.992581
2020-02-26  27.040001  26.209999       -10.054909                   -1.869515
2020-03-09  17.809999  16.049999       -29.697769                   16.199380
2020-03-12  13.660000  12.600000       -20.504731                   19.841269
2020-03-16  12.910000  13.090000       -14.999997                    3.896106
2020-03-18  11.790000  11.290000       -13.153846                   -1.948629
2021-02-22  22.799999  21.670000       -20.709842                    6.368247
2022-05-24  31.200001  31.600000       -12.707183                    0.316457

[PT] Calculando a probabilidade de abrir em alta no dia seguinte.

In [18]:
resultado = filtro['Abertura do dia seguinte %']
Resultado_bin = []

for i in resultado:
  if i > 0:
    Resultado_bin.append('Positivo')
  else:
    Resultado_bin.append('Negativo')

filtro['Resultado'] = Resultado_bin

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [20]:
c = 0
for i in filtro['Resultado']:
  if i =='Positivo':
    c=c+1
prob = (c/len(filtro['Resultado']))*100
print(f'O ativo tem uma probabilidade de {prob}% de abrir positivo quando fecha abaixo de {f}% desde {inicio} até hoje.')

O ativo tem uma probabilidade de 69.23076923076923% de abrir positivo quando fecha abaixo de -10% desde 2015-01-01 até hoje.